:root {
  --color-primary: #8d6ba7;
  --color-secondary: #7fb2ac;

  --button-color: var(--color-primary);

  --background-color: #ffffff;

  --area-top: 32px;
  --area-sides: 16px;
}

html {
  padding: var(--area-top) var(--area-sides) 0;
}

html, body {
  max-width: 600px;
  margin: auto;
  font-size: 18px;
}

img {
  max-width: 100%;
}

input {
  box-sizing: border-box;
}


/* THEMED STYLE */
html, body {
  &:has(.themed) {
    --button-color: white;
    --background-color: var(--color-secondary);
    background-color: var(--background-color);
  }
}

/* UTILS */
.d-none {
  display: none;
}

.op-0 {
  opacity: 0;
}